@import 'assets/styles/entry';

.root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  position: relative;
}

.wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.underline {
  height: 2px;
  position: absolute;
  bottom: 2px;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  box-shadow: 0px 0px 2px 0px rgba($cuttySark, 0.7);
  border-radius: 50%;
  &:before {
    position: absolute;
    content: '';
    background-color: $saltpan;
    height: 5px;
    right: -2px;
    left: -2px;
    bottom: 0px;
  }
}

.input {
  width: 100%;
  border: 0;
  padding: 0 12px;
  line-height: 140%;
  font-weight: 300;
  letter-spacing: 0.01px;
  outline: none;
  position: relative;
  background-color: transparent;
  z-index: 1;
  -webkit-appearance: none;
  text-align: center;
  font-size: 80px;
  color: $codGray;

  &::placeholder {
    color: rgba($codGray, 0.5);
  }

  &:disabled {
    box-shadow: 0px 0px 2px 0px $alto;

    &::placeholder {
      color: rgba($alto, 1);
    }
  }

  &:not(:disabled) {
    &:hover {
      & + .underline {
        box-shadow: 0px 0px 2px 0px rgba($cuttySark, 1);
      }
    }

    &:focus {
      & + .underline {
        box-shadow: 0px 0px 2px 0px rgba($dodgerBlue, 1);
      }
    }

    &:active {
      & + .underline {
        box-shadow: 0px 0px 2px 0px rgba($dodgerBlue, 0.5);
      }
    }
  }

  &[type='number'] {
    -moz-appearance: textfield;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

.error {
  .input {
    &::placeholder {
      color: rgba($flamingo, 0.8);
    }
    box-shadow: 0px 0px 1px 0px rgba($flamingo, 1);
    &:hover {
      box-shadow: 0px 0px 4px 0px rgba($flamingo, 0.3);
    }

    &:focus {
      box-shadow: 0px 0px 6px 0px rgba($flamingo, 0.4);
    }

    &:active {
      box-shadow: 0px 0px 5px 0px rgba($flamingo, 0.3);
    }
  }
}
