@import 'assets/styles/entry.scss';

.root {
  position: sticky;
  top: 0;
}

.panel {
  background-color: rgba($alto, 0.01);
  box-shadow: 0px 0px 1px 0px rgba($alto, 1);
  display: grid;
  padding: 20px;
  border-radius: 4px;
}

.row {
  margin-top: 16px;
}

.errors {
  margin-top: 16px;
  color: rgba($flamingo, 0.8);
  font-size: 14px;
  line-height: 140%;
  div:not(:first-child) {
    margin-top: 8px;
  }
}
