@mixin text($fontWeight: 300) {
  font-size: 16px;
  line-height: 150%;
  font-weight: $fontWeight;
  letter-spacing: 0.01px;
}

@mixin li() {
  @include text();
  position: relative;
  padding-left: 20px;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &:before {
    content: '';
    width: 4px;
    height: 4px;
    background-color: $cuttySark;
    transition: background-color $speed;
    position: absolute;
    border-radius: 50%;
    top: 11px;
    left: 0;
  }

  @include maxVw($sm) {
    padding-left: 0;
    &:before {
      display: none;
    }
  }
}

@mixin caption($fontWeight: 800) {
  font-size: 12px;
  line-height: 140%;
  font-weight: $fontWeight;
  text-transform: uppercase;
  letter-spacing: 0.01px;
}
