$speed: 0.2s;

// For adding new color, use service:
// https://chir.ag/projects/name-that-color
$codGray: #161616;
$white: #fff;
$alto: #d3d3d3;
$cuttySark: #52666e;
$flamingo: #e9231c;
$dodgerBlue: #397ff3;
$mountainMeadow: #1da88a;
$saltpan: #fdfdfd;

$sm: 480px;
$md: 768px;
$lg: 1280px;
$xl: 1400px;
